.update-button{
    box-shadow: 0px;
    padding: 7px 10px;
    border: 0px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: white;
    max-width: 125px;
    background-color: #1c5aeb;
}

.update-button:hover{
    opacity: 50%;
    cursor: pointer;
}