.blog-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.blog-title{
    font-size: 2rem;
    font-weight: 500;
    margin: 25px;
    color: var(--blog-secondary);
}

.blog-landing{
    width: 100%;
    padding: 50px 0px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--blog-primary);
}

.blog-landing-text, .blog-landing-img{
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-landing-text{
    flex-direction: column;
}

.blog-by{
    margin-bottom: 25px;
}

.blog-name{
    color: var(--blog-tertiary);
    font-size: 1.25rem;
    font-weight: 500;
}

.blog-logo{
    width: 75%;
}

@media(max-width: 767px){
    .blog-landing{
        flex-direction: column;
    }

    .blog-landing-text{
        margin-bottom: 50px;
    }
}