.blog-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.blog-title{
    font-size: 2rem;
    font-weight: 500;
    margin: 25px;
}