@import "../../../globals.css";

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 125px;
    max-width: 100%;
}

.mobile-div{
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-content: space-between;
}

.nav-title{
    width: 200px;
}

.nav-item, .nav-title{
    padding: 25px;
}

.link-div{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.nav-anchor{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.fa-solid, .fa-brands{
    padding: 15px;
}

.mobile{
    display: none;
    padding: 10px;
}

@media(max-width: 1250px){
    .mobile-div{
        width: 22.5%;
    }

    .link-div{
        width: 62.5%;
    }
}

@media(max-width: 1024px){
    .mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-div{
        width: 100%;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .nav-item{
        display: block;
        margin-left: 25px;
    }

    .link-div{
        display: flex;
        position: absolute;
        top: 125px;
        left: 2.5%;
        width: 95%;
        margin: 0px;
        padding: 25px 0px;
        flex-direction: column;
        background: white;
    }

    .hidden{
        display: none;
    }

    .fa-solid, .fa-brands{
        padding-left: 0px;
        padding-right: 20px;
    }
}