@import "../../../globals.css";

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10%;
}

.nav-title{
    width: 200px;
}

.nav-item, .nav-title{
    padding: 25px;
}

.nav-item{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.nav-anchor{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.fa-solid, .fa-brands{
    padding: 15px;
}