:root{
    --main-color: #f5eacb;
    --main-rgb-overlay: rgba(0, 0, 0, 0.4);
    --cta-color: #f75128;
    --blog-primary: #f3e7db;
    --blog-secondary: #556B2F;
    --blog-tertiary: #E2725B;
}

a:hover{
    opacity: 50%;
}

body{
    font-family: "Lato";
}

.loading-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
